<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<appender name="fileAppender1" class="ch.qos.logback.core.FileAppender">
		<file>myLogFile1.log</file>
		<append>false</append>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="fileAppender2" class="ch.qos.logback.core.FileAppender">
		<file>myLogFile2.log</file>
		<append>false</append>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com" level="debug" additivity="false">

		<appender-ref ref="fileAppender1" />
	</logger>
	<logger name="com.sap" level="debug" additivity="true">
		<appender-ref ref="fileAppender2" />
	</logger>
	<root level="debug">
		<appender-ref ref="consoleAppender" />
	</root>

</configuration>